attr==0.3.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==45.0.3
docutils==0.18.1
docutils==0.18.1
filelock==3.18.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
keyring==24.3.1
Pillow==11.2.1
protobuf==4.25.3
pyOpenSSL==24.2.1
pyOpenSSL==25.1.0
redis==6.2.0
Sphinx==8.2.3
streamlit==1.37.1
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
